.hidden {
    display: none;
}

#popupBox {
    position: relative;
    justify-self: center;
    align-self: center;
    width: 30rem;
    height: 10rem;
    border: 2px solid black;
}

.actorname {
    font-weight: bolder;
    font-size: larger;
}

h2 {
    cursor: pointer;
}